<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- limit maximum amount of penalty for one event? this will prevent a user from
    being penalized more than <X> seconds for one event: part, privmsg, notice,
    kick, etc. set to 0 if you want to disable limiting.
    604800 == 7 * 86400 == 1 week-->
    <add key="LimitPen" value="604800" />
    <!-- base time for items to fade away after being dropped, 600 = 10 minutes -->
    <add key="RPItemBase" value="600" />
    <!-- base time to level up, 600 = 10 minutes -->
    <add key="RPBase" value="600" />
    <!-- time to next level = rpbase * (rpstep ** CURRENT_LEVEL) -->
    <add key="RPStep" value="1.16"/>
    <!-- penalty time = penalty * (rppenstep ** CURRENT_LEVEL) -->
    <add key="RPPenStep" value="1.14"/>
    <!-- if you would like a custom-sized map, define the width of your map here: -->
    <add key="MapX" value="500"/>
    <!-- if you would like a custom-sized map, define the length of your map here: -->
    <add key="MapY" value="500"/>
    <!-- bot's nickname -->
    <add key="PrimNick" value="IdleRPG"/>
    <!-- password to send to NickServ for identify command -->
    <add key="Password" value="Password"/>
    <!-- this is what the bot considers to be an "internal clock" of sorts. some
    examples of where this is used: every self_clock seconds, the players move on
    the map (self_clock times to simulate movement every second); HOGs, calamities,
    godsends, etc. are given a chance to occur every self_clock seconds; and the
    list goes on. if you have problems with the bot flooding off, try increasing
    this number to 4 or 5. if your bot appears to 'lag' because it is queueing
    too much text, you can set this as low as 1. this must be an integral value
    (no fractions), and it must be a factor of 60 (or certain events will not
    occur, like database rewrites) -->
    <add key="Tick" value="3"/>
    <!-- players must be above this level to be considered eligible for quests -->
    <add key="QuestLevel" value="1"/>
    <!-- players must be above this level to be considered eligible for tournaments -->
    <add key="TournamentLevel" value="1"/>
    <!-- irc server -->
    <add key="Server" value="localhost"/>
    <!-- irc server port -->
    <add key="Port" value="6667"/>
    <!-- if the irc connection should use SSL or not -->
    <add key="UseSSL" value="false"/>
    <!-- irc channel for people to idle in -->
    <add key="ChannelName" value="#IdleRPG"/>
    <!-- the nickname of the bot owner. this nickname will be automatically added as
    an admin player -->
    <add key="Owner" value="Syzygy"/>
    <!-- when the bot logs in, should all users in the channel be automatically
    logged in -->
    <add key="AutoLogin" value="true"/>
    <!-- change this by using the method CryptoUtils.GenerateVector -->
    <add key="CryptoVector" value="dEo3CvP9c3eQok5kP/pweQ=="/>
    <!-- change this by using the method CryptoUtils.GenerateKey -->
    <add key="CryptoKey" value="9OGJv5PE2ppPTdmpJuPdq4rMMMxcpYIOeLEZimCtdZU="/>
  </appSettings>
</configuration>